useDynLib(pathFindeR, .registration=TRUE)
importFrom(Rcpp, evalCpp)
import(data.table)
import(geosphere)

# exportPattern("^[[:alpha:]]+")
export(makeGraph)
export(makeTDGraph)
export(randomGraph)
export(graphComponents)

export(makeAdjcList)

export(DFS)
export(BFS)
export(Dijkstra)
export(Astar)
export(Astarhfnc)
export(tdDijkstra)

export(ErdosRenyiPmodel)
